* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v788_21841 {
  width: 375px;
  height: 926px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v788_21850 {
  width: 160px;
  height: 36px;
  background: url("../images/v788_21850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 20px;
  overflow: hidden;
}
.v788_21851 {
  width: 160px;
  height: 36px;
  background: url("../images/v788_21851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v788_21852 {
  width: 160px;
  height: 36px;
  background: rgba(255,255,255,1);
  padding: 16px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v788_21853 {
  width: 39px;
  color: rgba(140,162,184,1);
  position: absolute;
  top: 8px;
  left: 33px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v788_21855 {
  width: 10px;
  height: 5px;
  background: rgba(140,162,184,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 141px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v909_13605 {
  width: 375px;
  height: 74px;
  background: rgba(255,255,255,1);
  padding: 8px 0px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v856_13245 {
  width: 375px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 8px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v856_13253 {
  width: 36px;
  height: 30px;
  background: url("../images/v856_13253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 24px;
  overflow: hidden;
}
.v856_13249 {
  width: 36px;
  height: 2px;
  background: rgba(2,38,88,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v856_13252 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v856_13247 {
  width: 46px;
  color: rgba(140,162,184,1);
  position: absolute;
  top: 8px;
  left: 84px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
